.navigation-panel {
	border: 2px solid #ccc;
	padding: 10px;
	width: 33%;
	height: 40vh;
	background-color: #292929;
	color: #ffffff;
	padding: 10px;
	border-radius: 10px;
	max-height: 60vh;
	overflow-y: auto;
}

.navigation-panel ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.navigation-panel li {
	padding: 5px 10px;
	margin-bottom: 5px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 24px;
}

.navigation-panel li:hover,
.navigation-panel li.active {
	background-color: #555555;
	color: #ffffff;
}

.navigation-panel li.active {
	background-color: #ffffff;
	color: #333333;
}